[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "==7.4.0"
pytest-sugar = "==0.9.7"
pytest-cov = "==4.1.0"
pytest-flask = "==1.2.0"
pytest-runner = "==6.0.0"
pytest-factoryboy = "==2.5.1"
factory-boy = "==3.3.0"
pylint = "==2.17.5"
black = "==23.7.0"
pre-commit = "==3.3.3"
bpython = "==0.24"
ipdb = "==0.13.13"
ptvsd = "==4.3.2"
debugpy = "==1.6.7.post1"
faker = "==19.3.1"

[packages]
flask = "==2.3.3"
flask-restful = "==0.3.10"
flask-mongoengine = "==1.0.0"
flask-jwt-extended = "==4.5.2"
flask-marshmallow = "==0.15.0"
flask-cors = "==4.0.0"
python-dotenv = "==1.0.0"
passlib = "==1.7.4"
apispec = "==6.3.0"
apispec-webframeworks = "==0.5.2"
gunicorn = "==21.2.0"
zappa = "==0.57.0"

[scripts]
format = "python3 cli/format.py quotes_api"
lint = "python3 cli/lint.py quotes_api"
test = "python3 cli/test.py"

[requires]
python_version = "3.11"
