[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "==7.3.0"
pytest-sugar = "==0.9.6"
pytest-cov = "==4.0.0"
pytest-flask = "==1.2.0"
pytest-runner = "==6.0.0"
pytest-factoryboy = "==2.5.1"
factory-boy = "==3.2.1"
pylint = "==2.17.2"
black = "==23.3.0"
pre-commit = "==3.2.2"
bpython = "==0.24"
ipdb = "==0.13.13"
ptvsd = "==4.3.2"
debugpy = "==1.6.6"
faker = "==18.3.2"

[packages]
flask = "==2.2.3"
flask-restful = "==0.3.9"
flask-mongoengine = "==1.0.0"
flask-jwt-extended = "==4.4.4"
flask-marshmallow = "==0.14.0"
flask-cors = "==3.0.10"
python-dotenv = "==1.0.0"
passlib = "==1.7.4"
apispec = "==6.3.0"
apispec-webframeworks = "==0.5.2"
gunicorn = "==20.1.0"
zappa = "==0.56.1"

[scripts]
format = "python3 cli/format.py quotes_api"
lint = "python3 cli/lint.py quotes_api"
test = "python3 cli/test.py"

[requires]
python_version = "3.11"
