[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
mypy = "==0.790"
pytest = "==6.2.1"
pytest-sugar = "==0.9.4"
pytest-cov = "==2.10.1"
pytest-flask = "==1.1.0"
pytest-runner = "==5.3.2"
pytest-factoryboy = "==2.1.0"
factory-boy = "==3.2.0"
pylint = "==2.6.0"
black = "==20.8b1"
pre-commit = "==2.9.3"
sphinx = "==3.4.3"
bpython = "==0.20.1"
ipdb = "==0.13.4"
ptvsd = "==4.3.2"

[packages]
flask = "==1.1.2"
flask-restful = "==0.3.8"
flask-mongoengine = "==1.0.0"
flask-jwt-extended = "==3.25.0"
flask-marshmallow = "==0.14.0"
flask-cors = "==3.0.10"
python-dotenv = "==0.15.0"
passlib = "==1.7.4"
apispec = "==4.0.0"
apispec-webframeworks = "==0.5.2"
gunicorn = "==20.0.4"
zappa = "==0.52.0"

[scripts]
format = "python3 cli/format.py"
lint = "python3 cli/lint.py"

[requires]
python_version = "3.8"
